<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistreServlet</servlet-name>
        <servlet-class>Controllers.RegistreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>Controllers.UsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatchServlet</servlet-name>
        <servlet-class>Controllers.MatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquipeServlet</servlet-name>
        <servlet-class>Controllers.EquipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavorisServlet</servlet-name>
        <servlet-class>Controllers.FavorisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogAdminServlet</servlet-name>
        <servlet-class>Controllers.LogAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>Controllers.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMatchServlet</servlet-name>
        <servlet-class>Controllers.AddMatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMatchServlet</servlet-name>
        <servlet-class>Controllers.EditMatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMatchServlet</servlet-name>
        <servlet-class>Controllers.DeleteMatchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEquipeServlet</servlet-name>
        <servlet-class>Controllers.AddEquipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditEquipeServlet</servlet-name>
        <servlet-class>Controllers.EditEquipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEquipeServlet</servlet-name>
        <servlet-class>Controllers.DeleteEquipeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>Controllers.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>Controllers.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>Controllers.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistreServlet</servlet-name>
        <url-pattern>/RegistreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/UsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatchServlet</servlet-name>
        <url-pattern>/MatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquipeServlet</servlet-name>
        <url-pattern>/EquipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavorisServlet</servlet-name>
        <url-pattern>/FavorisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogAdminServlet</servlet-name>
        <url-pattern>/LogAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMatchServlet</servlet-name>
        <url-pattern>/AddMatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMatchServlet</servlet-name>
        <url-pattern>/EditMatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMatchServlet</servlet-name>
        <url-pattern>/DeleteMatchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEquipeServlet</servlet-name>
        <url-pattern>/AddEquipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditEquipeServlet</servlet-name>
        <url-pattern>/EditEquipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEquipeServlet</servlet-name>
        <url-pattern>/DeleteEquipeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
